@model Cosmetic_Store.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
  

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >Name</label>  
  <div class="col-md-4">
  <input class="form-control input-md" type="text" asp-for="@Model.Name">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >Description</label>  
  <div class="col-md-4">
  <input class="form-control input-md" type="text" asp-for="@Model.Description">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >Price</label>  
  <div class="col-md-4">
  <input class="form-control input-md" type="text" asp-for="@Model.Price">
    
  </div>
</div>
    
@*<div class="form-group">
  <label class="col-md-4 control-label" >Price</label>  
  <div class="col-md-4">
<div class="btn-group">
  <button type="button" class="btn btn-secondary">Category Type</button>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>    
  </div>
</div>*@

@Html.DropDownList("Category", new List<SelectListItem>()
{
    new SelectListItem(){ Text= "Mascara", Value = "1"},
    new SelectListItem(){ Text= "Lipstick", Value = "2"},
    new SelectListItem(){ Text= "Powder", Value = "3"},
    new SelectListItem(){ Text= "Foundation", Value = "4"},
}, "Select Category")

 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Upload Image</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file" asp-for="@Model.ImageURL">
  </div>
</div>



