@model Cosmetic_Store.Models.ViewModel.ProductVM


<form class="form-horizontal" asp-controller="Product" asp-action="Create" method="post" style="padding-top:80px" enctype="multipart/form-data">       
<fieldset>

<!-- Form Name -->
<legend>Create a new product</legend>
<div class="form-group">
  <label class="col-md-4 control-label" >Name</label>  
  <div class="col-md-4">
  <input class="form-control input-md" type="text" asp-for="@Model.Name">
    <span asp-validation-for="Name" class="text-danger"></span>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >Description</label>  
  <div class="col-md-4">
  <input class="form-control input-md" type="text" asp-for="@Model.Description">
    <span asp-validation-for="Description" class="text-danger"></span>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >Price</label>  
  <div class="col-md-4">
  <input class="form-control input-md" type="text" asp-for="@Model.Price">
    <span asp-validation-for="Price" class="text-danger"></span>
    
  </div>
</div>

   
<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
        @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"),
        "Select category", new { @class = "form-control" })
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    
  </div>
</div>

 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Upload Image</label>
  <div class="col-md-4">
    <input id="filebutton" name="file" class="input-file" type="file" asp-for="@Model.ImageUrl">
    <span asp-validation-for="ImageUrl" class="text-danger"></span>

  </div>
</div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
            <button type="submit" class="btn btn-outline-success "> Create </button>
            <a asp-controller = "Product" asp-action= "Index"> Back</a>  </div>
    </div>
    

</fieldset>
</form>

<div asp-validation-summary="All"></div>