@model Cosmetic_Store.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    
<div class="card text-center">
  <div class="card-header">
    <h2>@Model.Name</h2>
  </div>
  <div class="card-body" style="padding-top: 60px;">
    <h3 class="card-title">Special title treatment</h3>
    <img style=" width: 300px; height:280px" src="@Model.ImageURL" />
    <p class="card-text display-6">@Model.Description</p>
    
    <a asp-controller = "Product" asp-action= "Index" class="btn btn-info btn-lg">Back</a>
    <a a asp-controller = "Product" asp-action= "Edit" asp-route-id ="@Model.ProductId" class="btn btn-success btn-lg">Edit</a>
    <a a asp-controller = "Product" asp-action= "Delete" asp-route-id ="@Model.ProductId" class="btn btn-danger btn-lg">Delete</a>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text display-6">@Model.Price JD</p>
  </div>
</div>