@page "{id?}"
@using Microsoft.AspNetCore.Identity
@using Cosmetic_Store.Models
@using Cosmetic_Store.Auth.Model;
@model Cosmetic_Store.Pages.Shop.ProductModel
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Product";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="card text-center">
  <div class="card-header">
    <h2>@Model.SingleProduct.Name</h2>
  </div>
  <div class="card-body" style="padding-top: 60px;">
    <h3 class="card-title">Special title treatment</h3>
    <img style=" width: 300px; height:280px" src="@Model.SingleProduct.ImageURL" />
    <p class="card-text display-6">@Model.SingleProduct.Description</p>
    <div style="display: flex;justify-content: center;">
    <a asp-controller = "Product" asp-action= "Index" class="btn btn-info btn-lg" style="padding-right:10px">Back</a>
    @if (signInManager.IsSignedIn(User))
    {
        <form method="post" asp-page-handle="/shop/cart">
            <button type="submit" class="add-to-cart-button btn btn-success btn-lg"><i class="bi bi-cart3"></i></button>
                </form>
            }
            else
            {
               <form method="post" asp-page-handle="/shop/cart">
            <button type="submit" class="add-to-cart-button btn btn-success btn-lg"> <i class="bi bi-cart3"></i></button>
                </form> 
            }

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    {
        <a asp-controller = "Product" asp-action= "Edit" asp-route-id ="@Model.SingleProduct.ProductId" class="btn btn-success btn-lg">Edit</a>
        <a asp-controller = "Product" asp-action= "Delete" asp-route-id ="@Model.SingleProduct.ProductId" class="btn btn-danger btn-lg">Delete</a>
    }
    </div>
  <div class="card-footer text-muted" style="display:flex; justify-content: center;">
    <p class="card-text display-6">@Model.SingleProduct.Price JD</p>
  </div>


</div>

  @if (signInManager.IsSignedIn(User))
  {
      @await Component.InvokeAsync("MiniCart")
  }
    </div>
</body>
</html>
